<template>
<div>
	<h2>đây là index và HelloWorld</h2>

   <HelloWorld msg="Welcome to Your Vue.js App"/>
</div>

</template>


<script>
import HelloWorld from "./HelloWorld.vue";
export default {
  name: "Index",
  components: {
    HelloWorld,
  },
};
</script>

<style>
</style>